
{% extends "base.html" %}

{% block title %}Productos{% endblock %}

    {% block content %}

    <section>
        
        <h1>&nbspPRODUCTOS</h1>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>MARCA</th>
                        <th>DESCRIPCIÓN</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in productos %}

                    <tr>

                        <td class="orden-tabla">
                            <svg class="circ" height="10" width="10" xmlns="http://www.w3.org/2000/svg">
                                <circle r="45" cx="50" cy="50" fill="red" />
                            </svg>
                        </td>
                        <td title="ID">{{prod.0}}</td>
                        <td title="Nombre">{{prod.1}}</td>
                        <td title="Marca">{{prod.2}}</td>
                        <td title="Descripción">{{prod.3}}</td>
                        <td title="Precio">{{prod.4}}</td>
                        <td title="Cantidad">{{prod.5}}</td>
                        <td><a href="/obtener/{{prod.0}}"><img class="img-edit"
                                    src="{{ url_for('static', filename='IMG/edit-1-svgrepo-com.svg') }}" title="EDITAR"
                                    alt="editar usuario"></a></td>
                        <td><img class="img-elim" src="{{ url_for('static', filename='IMG/delete-2-svgrepo-com.svg') }}"
                                onclick="eliminar('{{prod.0}}')" title="ELIMINAR" id="{{prod.0}}" alt="eliminar cliente">
                        </td>

                        <script>
                            function eliminar(id) {
                                let text = "¿Desea eliminar al producto de forma permanente?";
                                if (confirm(text) == true) {
                                    console.log(id)
                                    window.location.href = "/eliminarProducto/" + id;
                                } else {
                                    text = "";
                                }
                            }
                        </script>

                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
            
    </section>

    {% endblock %}
