
{% extends "base.html" %}

{% block title %}Buscar{% endblock %}

    {% block content %}

    
<h1>BÚSQUEDA DE CLIENTES</h1>

    <form action="/buscarCliente" method="POST" style="margin: 30px auto;">
      <label for="buscar">Ingrese apellido</label>
      <input type="search" id="buscar" name="apellido">
      <button class="btn-agregar" type="submit">BUSCAR</button>
      <!-- <input type="submit" value="Buscar"> -->
    </form>

    <!-- <div class="boton-volver">
        <a class="btn" href="/">VOLVER</a>
    </div> -->
    {% endblock %}
