
{% extends "base.html" %}

{% block title %}ACTUALIZAR VENTA{% endblock %}

    {% block content %}

    <div class="contenedor">
        <h1>ACTUALIZACIÓN DE DATOS</h1>

        <form action="/actualizar/{{ventaHtml.0}}" method="POST" style="display: block;">
            
            <label for="codigo">Código</label>
            <input class="input" type="text" name="codigo" value="{{ventaHtml.0}}" 
            maxlength="8" required readonly><br><br>

            <label for="fecha">Fecha</label>
            <input class="input" type="date" name="fecha" value="{{ventaHtml.1}}" required><br><br>

            <label for="apellido">Precio U$S</label>
            <input class="input" type="text" name="precio" value="{{precio.4}}" placeholder="Apellido"
                maxlength="20" required><br><br>

            <label for="direccion">Producto</label>
            <select id="opciones" name="idProducto">

                {% for ventaP in ventaProd %}
                    {% if ventaP.3 == ventaP.5 %}

                    <option value="{{ventaP.3}}">{{ventaP.7}}{{" "}}{{ventaP.6}}</option>
        
                    {% endif %}
                {% endfor %}

                {% for pro in productos %}

                <option value="{{pro.0}}">{{pro.0}}{{") "}} {{pro.1}} {{pro.2}}</option>

                {% endfor %}
            </select> <br>

            <label for="educacion">Cliente</label>
            <select id="opciones" name="idCliente">

                {% for ventaC in ventaCli %}
                    {% if ventaC.1 == ventaC.2 %}

                    <option value="{{ventaC.2}}">{{ventaC.3}}{{"  "}}{{ventaC.4}}</option>
        
                    {% endif %}
                {% endfor %}

                {% for cli in clientes %}

                <option value="{{cli.2}}">{{cli.3}}{{" "}} {{cli.4}}</option>

                {% endfor %}
            </select> <br>
            <button class="btn-agregar" type="submit" onclick="mensajeActualizar()">ACTUALIZAR</button>
        </form>
        <script>
            function mensajeActualizar() {
                alert("Datos actualizados")
            }
        </script>
    </div> 


    {% endblock %}
