
{% extends "base.html" %}

{% block title %}ACTUALIZAR PRODUCTOS{% endblock %}

    {% block content %}

    <div class="contenedor">
        <h1>ACTUALIZACIÓN DE DATOS</h1>

        <form action="/actualizarProducto/{{productos.0}}" method="POST">
            <label for="id">id</label>
            <input class="input" type="text" name="id" value="{{productos.0}}" placeholder="id"
                maxlength="8" required readonly><br>
            <label for="nombre">Modelo</label>
            <input class="input" type="text" name="nombre" value="{{productos.1}}" placeholder="Modelo"
                maxlength="20" required><br>
            <label for="marca">Marca</label>
            <input class="input" type="text" name="marca" value="{{productos.2}}" placeholder="marca"
                maxlength="20" required><br>
            <label for="descripcion">Descripción</label>
            <textarea class="input texto-area" name="descripcion" value="{{productos.3}}" placeholder="Descripción" rows="10" cols="50"
                maxlength="400" required>{{productos.3}}</textarea><br>
            <label for="precio">Precio (U$S)</label>
            <input class="input" type="text" name="precio" value="{{productos.4}}" placeholder="precio"
                maxlength="20" required><br>
            <label for="cantidad">Cantidad</label>
            <input class="input" type="number" name="cantidad" value="{{productos.5}}" placeholder="cantidad"
                min="0" max="99" required><br>
                <img src="../static/IMG_PRODUCTOS/{{productos.6}}" alt="Cámara Reflex" max-width="260px" width="100%" height="auto" style="margin: auto; border-radius: 15px;"><br>
            <div class="btn-subir-img">
                <label for="img" class="subir-img">IMAGEN 📷</label>
            </div><br><br>

            <!-- <input for="img" class="input" type="text" name="img" value="{{productos.6}}" 
                maxlength="60"> -->
                <input type="file" id="img" name="img" accept="image/*"
            /><br><br>
            <!-- {% if productos.6 == "" %}
            <div class="btn-subir-img">
                <label for="img" class="subir-img">IMAGEN 📷</label>
            </div>
            <input class="input" type="file" id="img" name="img" value="nodisponible.png"
            maxlength="60"><br><br>
            {% else %}
            <div class="btn-subir-img">
                <label for="img" class="subir-img">IMAGEN 📷</label>
            </div>
                <input class="input" type="file" id="img" name="img" value="{{productos.6}}" 
                maxlength="60"><br><br>
            {% endif %} -->
            <br><br>

            <button class="btn-agregar" type="submit" onclick="mensajeActualizar()">ACTUALIZAR</button>
        </form>
        <script>
            function mensajeActualizar() {
                alert("Datos actualizados")
            }
        </script>
    </div>
    <!-- <div class="boton-volver">
        <a class="btn" href="/">VOLVER</a>
    </div> -->
    
    {% endblock %}
