<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>Listar</title>
</head>
<body>
    <h1>Bienvenidos</h1>
    <div class="cards">
        <div class="card">
            <img src="../static/IMG/bin.png" alt="" width="100px" height="auto">
            <div class="content">
                <h2>TITULO</h2>
                <P>Lorem ipsum ssssssssssssssssssssssssssss.</P>
                <P>Lorem ipsum .</P>
                <P>Lorem ipsum .</P>
                <P>Lorem ipsum .</P>
                <br>
                <h3>Precio 12</h3>
                <h3>cantidad 4</h3>
            </div>
            <div class="pie">
                <button>Submit</button>
                <button>Submit</button>
            </div>
            </div>
        <div class="card">
            <img src="../static/IMG/bin.png" alt="" width="100px" height="auto">
            <div class="content">
                <h2>TITULO</h2>
                <P>Lorem ipsum ssssssssssssssssssssssssssss.</P>
                <P>Lorem ipsum .</P>
                <P>Lorem ipsum .</P>
                <P>Lorem ipsum .</P>
                <br>
                <h3>Precio 12</h3>
                <h3>cantidad 4</h3>
            </div>
            <div class="pie">
                <button>Submit</button>
                <button>Submit</button>
            </div>
        </div>
    </div>

</body>
</html>