
{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

    {% block content %}

    <section>
        
        <h1>&nbspCLIENTES</h1>

        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>CONTACTO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cli in clientes %}

                    <tr>
                        <td title="DNI">{{cli.0}}</td>
                        <td title="Nombre">{{cli.1}}</td>
                        <td title="Apellido">{{cli.2}}</td>
                        <td title="Contacto">{{cli.3}}</td>

                        {% endfor %}
                    </tr>
                </tbody>
            </table>

        </div>
        <h1>&nbspOPERACIONES</h1>

        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CÓDIGO</th>
                        <th>PRODUCTO</th>
                        <th>PRECIO</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for da in datos %}

                    <tr>

                        <td class="orden-tabla">
                            <svg class="circ" height="10" width="10" xmlns="http://www.w3.org/2000/svg">
                                <circle r="45" cx="50" cy="50" fill="red" />
                            </svg>
                        </td>
                        <td title="código">{{da.0}}</td>
                        <td title="producto">{{da.6}}</td>
                        <td title="precio">{{"$"}}{{da.9}}</td>
                        <td title="cliente">{{da.12}}&nbsp&nbsp{{da.13}}</td>
                        <td title="fecha">{{da.1}}</td>
                        <td><a href="/obtener/{{da.0}}"><img class="img-edit"
                                    src="{{ url_for('static', filename='IMG/edit-1-svgrepo-com.svg') }}" title="EDITAR"
                                    alt="editar usuario"></a></td>
                        <td><img class="img-elim" src="{{ url_for('static', filename='IMG/delete-2-svgrepo-com.svg') }}"
                                onclick="eliminar('{{da.0}}')" title="ELIMINAR" id="{{da.0}}" alt="eliminar usuario">
                        </td>

                        <script>
                            function eliminar(dni) {
                                let text = "¿Desea eliminar esta operación de forma permanente?";
                                if (confirm(text) == true) {
                                    console.log(dni)
                                    window.location.href = "/eliminar/" + dni;
                                } else {
                                    text = "";
                                }
                            }
                        </script>

                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
            
    </section>

    {% endblock %}
